<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu expose-aside-when="large">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/wines" analytics-on="click" analytics-event="Menu-MaCave" analytics-category="Menu">
          Ma cave
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/star" analytics-on="click" analytics-event="Menu-Selection" analytics-category="Menu">
          Ma sélection
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/stats" analytics-on="click" analytics-event="Menu-Stats" analytics-category="Menu">
          Statistiques
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/history" analytics-on="click" analytics-event="Menu-History" analytics-category="Menu">
          Historique
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/options" analytics-on="click" analytics-event="Menu-Options" analytics-category="Menu">
          Options
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search" analytics-on="click" analytics-event="Menu-Recherche" analytics-category="Menu">
          Recherche de vin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about" analytics-on="click" analytics-event="Menu-APropos" analytics-category="Menu">
          A propos
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
