<ion-view title="Détails">
	<ion-nav-buttons side="right">
    <a class="button button-icon icon ion-edit" href="#/app/add/{{vm.item.id}}"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
	  <div class="bg6">
	  </div>
		<div class="list card">
		  <div class="item item-avatar">
		    <img ng-src="{{ vm.item.picture }}" ng-click="vm.showPic = true">
		    <h2 class="wine-title">{{ vm.item.title }}  <wine-color type="vm.item.type" number="vm.item.number"></wine-color></h2>
		    <p>
		    	{{ vm.item.producer }}<br>
		    	Millesime {{ vm.item.millesime || 'N/A' }} - Région: {{ vm.item.region || 'N/A' }}<br>
		    	Appellation: {{ vm.item.appellation || 'N/A' }}<br>
		    	Cépage: {{vm.item.cepage || 'N/A' }}
		    </p>
		    <p>
		    	<star-rating rating="vm.item.stars"></star-rating> <br>
		    	<good-drink start="vm.item.best_start" end="vm.item.best_end"></good-drink>
		    </p>
		  </div>
		  <div class="item item-divider">
			<span ng-if="vm.item.number == 1">1 bouteille a été bue le {{ vm.item.date | date: 'dd/MM/yyyy' }}</span>
			<span ng-if="vm.item.number > 1">{{ vm.item.number }} bouteilles ont été bues le {{ vm.item.date | date: 'dd/MM/yyyy' }}</span>
		  </div>
		  <div class="item item-body">
		  	<h3><i class="icon ion-cash"></i> Prix : {{ vm.item.price || 'N/A' }} €</h3>
		  	<h3><i class="icon ion-beaker"></i> Alcool : {{ vm.item.alcohol || 'N/A' }} %</h3>
		  	<h3><i class="icon ion-filing"></i> Emplacement : {{ vm.item.place || 'N/A' }}</h3>
		  	<h3><i class="ion-pound"></i> Commentaires :</h3>
		  	<p>{{ vm.item.comment || 'N/A' }}</p>
		  </div>
		  <a ng-click="vm.backToCave()" class="item item-icon-left">
			  <i class="icon ion-ios7-download"></i>
			  Réintégrer en cave
		  </a>
		</div>
  </ion-content>
</ion-view>
<div class="img-big" ng-show="vm.showPic" ng-click="vm.showPic = false">
	<img ng-src="{{ vm.item.picture }}" alt="">
</div>
